{% extends "base.html" %}

{% block title %}500 Internal Server Error{% endblock %}


{% block page_content %}

<div class="row justify-content-md-center">
  <div class="col col-md-8">

	<div class="card mt-3">
	  <div class="card-header">
		<h1 id="privacy-statement">Internal Server Error</h1>
	  </div>
	  <div class="card-body text-start">
        <p>
			The server encountered an internal error and was unable to
			complete your request. Either the server is overloaded or
			there is an error in the application.
        </p>
	  </div>
	</div>

{% endblock %}
