{% extends "base.html" %}

{% block title %}404 Not Found{% endblock %}


{% block page_content %}

<div class="row justify-content-md-center">
  <div class="col col-md-8">

	<div class="card mt-3">
	  <div class="card-header">
		<h1 id="privacy-statement">Not Found</h1>
	  </div>
	  <div class="card-body text-left">
        <p>
            The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
        </p>
	  </div>
	</div>

{% endblock %}
