{% extends "base.html" %}

{% block title %}400 CSRF validation failed{% endblock %}


{% block page_content %}

<div class="row justify-content-md-center">
  <div class="col col-md-8">

	<div class="card mt-3">
	  <div class="card-header">
		<h1 id="privacy-statement">CSRF validation failed</h1>
	  </div>
	  <div class="card-body text-start">
		<p>
			{{ e.description }}
		</p>
		<p>
			Please <a href="{{ request.path }}">reload</a> the page and try again.
		</p>
	  </div>
	</div>
{% endblock %}
